<p class="{{ class }}" style="text-align: center;">
    {{ organisation.legal_name }} - {{ organisation.address_street }} {{ organisation.address_zip }} {{ organisation.address_city }}<br/>
    Registration number: {{ organisation.registration_number }} - IBAN: {{ organisation.bank_account_iban }}<br/>
    Email: {{ organisation.email }} - Web: {{ organisation.website }} - Tel: {{ organisation.phone }}{% if organisation.fax %} - Fax: {{ organisation.fax }}{% endif %}
</p>
