<div class="{{ class }}">
    <img style="width: 350px; height: 100px; border: 0;" src="{{ company_logo }}" alt="Company logo" />

    <div style="margin-left: 8px;">
        <h3>{{ organisation.legal_name }}</h3>
        <span>{{ organisation.address_street }} {{ organisation.address_zip }} {{ organisation.address_city }}</span><br/>
        <span>{{ registration_number_label }}: <b style="font-weight: 600">{{ organisation.registration_number }}</b></span><br/>
        {% if (organisation.has_vat == false) or (organisation.vat_number is null) or (organisation.vat_number == '') %}
            <span>N/A</span>
        {% else %}
            <span>{{ vat_number_label }}: <b style="font-weight: 600">{{ organisation.vat_number }}</b></span>
        {% endif %}
    </div>
</div>
