<div class="{{ class }}" style="height: 180px;">
    <div style="font-size: 15px; padding-left: 15px; padding-top: 15px;">
        {% set price = '<b>' ~ invoice.price | format_currency(currency, [], locale) ~ '</b>' %}
        {% set due_date = '<b>' ~ invoice.due_date | date(date_format, timezone) ~ '</b>' %}
        {{ balance_of_must_be_paid_before_label | replace({ '%price%': price, '%due_date%': due_date }) | raw }}
    </div>

    <div style="padding-top: 20px; padding-left: 15px; font-size: 15px;">
        <b style="text-transform: uppercase;">{{ communication_label }}</b><b> : {{ invoice.payment_reference }}</b><br/>
        IBAN : {{ invoice.organisation_id.bank_account_iban }}<br/>
        BIC : {{ invoice.organisation_id.bank_account_bic }}<br/>
        <br/>
        {{ invoice.organisation_id.legal_name }}<br/>
        {{ invoice.organisation_id.address_street }} {{ invoice.organisation_id.address_zip }} {{ invoice.organisation_id.address_city }}<br/>
    </div>

    <div style="position: absolute; right: 10px; top: 15px;">
        <img src="{{ payment_qr_code_uri }}" width= "150" height="150" alt="payment-qr-code" />
    </div>
</div>